@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-nav-text-base: #242424;
    --color-nav-fill: #ffffff;
  }

  .theme-transparent {
    --color-nav-text-base: #ffffff;
    --color-nav-fill: transparent;
  }
}
