@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #05708d;
    --color-primary-muted: #0988ab;
    --color-accent: #f59e0b;

    --color-text-base: #4b5563;
    --color-text-muted: #6b7280;
    --color-text-inverted: #ffffff;
    --color-text-inverted-muted: #e5e7eb;

    --color-bg-base: #ffffff;
    --color-bg-inverted: #111827;
    --color-bg-muted: #fafafa;
    --color-bg-secondary: #fcf9ed;

    --color-twitter: #1da1f2;
    --color-youtube: #ff0000;
    --color-facebook: #4267b2;
    --color-email: #339eff;

    --color-twitter-hover: #1da1f2;
    --color-youtube-hover: #ff0000;
    --color-facebook-hover: #4267b2;
    --color-email-hover: #339eff;

    --color-twitter-bg: #fff;
    --color-youtube-bg: #fff;
    --color-facebook-bg: #fff;
    --color-email-bg: #fff;

    --color-twitter-bg-hover: #fff;
    --color-youtube-bg-hover: #fff;
    --color-facebook-bg-hover: #fff;
    --color-email-bg-hover: #fff;
  }

  h1 {
    @apply font-serif;
  }

  /* Social theme variants */
  .theme-social-transparent-bg {
    --color-twitter: #fff;
    --color-youtube: #fff;
    --color-facebook: #fff;
    --color-email: #fff;

    --color-twitter-hover: #1da1f2;
    --color-youtube-hover: #ff0000;
    --color-facebook-hover: #4267b2;
    --color-email-hover: #339eff;

    --color-twitter-bg: transparent;
    --color-youtube-bg: transparent;
    --color-facebook-bg: transparent;
    --color-email-bg: transparent;

    --color-twitter-bg-hover: #fff;
    --color-youtube-bg-hover: #fff;
    --color-facebook-bg-hover: #fff;
    --color-email-bg-hover: #fff;
  }
  .theme-social-gray-bg {
    --color-twitter: #4b5563;
    --color-youtube: #4b5563;
    --color-facebook: #4b5563;
    --color-email: #4b5563;

    --color-twitter-hover: #ffffff;
    --color-youtube-hover: #ffffff;
    --color-facebook-hover: #ffffff;
    --color-email-hover: #ffffff;

    --color-twitter-bg: #f3f4f6;
    --color-youtube-bg: #f3f4f6;
    --color-facebook-bg: #f3f4f6;
    --color-email-bg: #f3f4f6;

    --color-twitter-bg-hover: #1da1f2;
    --color-youtube-bg-hover: #ff0000;
    --color-facebook-bg-hover: #4267b2;
    --color-email-bg-hover: #339eff;
  }
}
